<?xml version="1.0"?>

<!--
Copyright 2025 Husarion. All Rights Reserved.

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="ouster"
               params="parent_link
                       xyz:='0.0 0.0 0.0'
                       rpy:='0.0 0.0 0.0'
                       model:=os1_32
                       namespace:=''
                       device_namespace:=''">

    <xacro:if value="${model == 'os0_32'}">
      <xacro:property name="vfov" value="${radians(90.0)}" scope="parent" />
      <xacro:property name="lidar_range" value="50" scope="parent"/>
      <xacro:property name="layers" value="32" scope="parent"/>
      <xacro:property name="mesh" value="ouster_os01" scope="parent"/>
    </xacro:if>

    <xacro:if value="${model == 'os0_64'}">
      <xacro:property name="vfov" value="${radians(90.0)}" scope="parent" />
      <xacro:property name="lidar_range" value="50" scope="parent" />
      <xacro:property name="layers" value="64" scope="parent" />
      <xacro:property name="mesh" value="ouster_os01" scope="parent"/>
    </xacro:if>

    <xacro:if value="${model == 'os0_128'}">
      <xacro:property name="vfov" value="${radians(90.0)}" scope="parent" />
      <xacro:property name="lidar_range" value="50" scope="parent" />
      <xacro:property name="layers" value="128" scope="parent" />
      <xacro:property name="mesh" value="ouster_os01" scope="parent"/>
    </xacro:if>

    <xacro:if value="${model == 'os1_32'}">
      <xacro:property name="vfov" value="${radians(45.0)}" scope="parent" />
      <xacro:property name="lidar_range" value="120" scope="parent" />
      <xacro:property name="layers" value="32" scope="parent" />
      <xacro:property name="mesh" value="ouster_os01" scope="parent"/>
    </xacro:if>

    <xacro:if value="${model == 'os1_64'}">
      <xacro:property name="vfov" value="${radians(45.0)}" scope="parent" />
      <xacro:property name="lidar_range" value="120" scope="parent" />
      <xacro:property name="layers" value="64" scope="parent" />
      <xacro:property name="mesh" value="ouster_os01" scope="parent"/>
    </xacro:if>

    <xacro:if value="${model == 'os1_128'}">
      <xacro:property name="vfov" value="${radians(45.0)}" scope="parent" />
      <xacro:property name="lidar_range" value="120" scope="parent" />
      <xacro:property name="layers" value="128" scope="parent" />
      <xacro:property name="mesh" value="ouster_os01" scope="parent"/>
    </xacro:if>

    <xacro:property name="ns" value="${namespace + '/' if namespace != '' else ''}" />
    <xacro:property name="prefix" value="${device_namespace + '_' if device_namespace != '' else ''}" />
    <xacro:property name="device_ns" value="${device_namespace + '/' if device_namespace != '' else ''}" />

    <joint name="${parent_link.rstrip('_link')}_to_${prefix}ouster_${model}_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent_link}" />
      <child link="${prefix}ouster_${model}_link" />
    </joint>

    <link name="${prefix}ouster_${model}_link">
      <!-- <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://husarion_components_description/meshes/${mesh}.dae" />
        </geometry>
      </visual> -->

      <!-- TODO Remove simple visuals when mesh is ready -->
      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <cylinder radius="${0.085/2.0}" length="0.073" />
        </geometry>
        <material name="LightGrey">
          <color rgba="0.6 0.6 0.6 1.0" />
        </material>
      </visual>

      <collision>
        <origin xyz="0.0 0.0 ${0.072/2.0}" rpy="0.0 0.0 0.0" />
        <geometry>
          <cylinder radius="${0.085/2.0}" length="0.073" />
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0.0 0.0 ${0.072/2.0}" rpy="0.0 0.0 0.0" />
        <mass value="0.447" />
        <inertia ixx="0.00047706" ixy="0.0"        ixz="0.0"
                                  iyy="0.00047706" iyz="0.0"
                                                   izz="0.00053722" />
      </inertial>
    </link>

    <joint name="${prefix}ouster_${model}_to_${prefix}os_lidar_joint" type="fixed">
      <origin xyz="0.0 0.0 0.03618" rpy="0.0 0.0 0.0" />
      <parent link="${prefix}ouster_${model}_link" />
      <child link="${prefix}os_lidar" />
    </joint>

    <link name="${prefix}os_lidar" />

    <gazebo reference="${prefix}os_lidar">
      <!-- gpu_lidar has to be set, CPU lidar doesn't work in ignition -
      https://github.com/gazebosim/gz-sensors/issues/26 -->
      <sensor type="gpu_lidar" name="${ns}${prefix}ouster_${model}_sensor">
        <visualize>false</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>1024</samples>
              <resolution>1</resolution>
              <min_angle>-${pi}</min_angle>
              <max_angle>${pi}</max_angle>
            </horizontal>
            <vertical>
              <samples>${layers}</samples>
              <resolution>1</resolution>
              <min_angle>${vfov/-2.0}</min_angle>
              <max_angle>${vfov/2.0}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.8</min>
            <max>${lidar_range}</max>
            <resolution>0.003</resolution>
          </range>

          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.0008</stddev>
          </noise>
        </ray>

        <update_rate>20.0</update_rate>

        <topic>${ns}${device_ns}ouster/points</topic>
        <gz_frame_id>${ns}${prefix}os_lidar</gz_frame_id>
        <always_on>true</always_on>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
